<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../Web Fonts/stylesheet.css" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../stylesheet/leaderboard.css" />
  </head>
  <body>
    <nav>
      <a href="#"
        ><img
          src="img/logo.png"
          alt="Logo of Kasiglahan Elemenntaruy School"
          class="logo"
      /></a>
      <span>
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="quiz.html">Quiz</a></li>
          <li><a href="#">Leaderboard</a></li>
          <li><a href="../index.html#about">About</a></li>
        </ul>
        <span class="login__container">
          <span class="login">Login</span>
          <p>/</p>
          <span class="signup">Signup</span>
        </span>
      </span>
    </nav>
    <header>
      <h1 class="page__title subj__rank">MATH</h1>
      <span>:</span>
    </header>
    <main>
      <div class="card">
        <span class="rank r1">1<sub>st</sub></span>
        <span class="name">Abdul</span>
        <div class="dropdown">
            <button class="dropdown-btn">Menu</button>
            <ul class="dropdown-content">
              <li>
                <a href="#">Q1</a>
                <span class="result wrong">X</span>
              </li>
              <li>
                <a href="#">Q2</a>
                <span class="result correct">/</span>
              </li>
              <li>
                <a href="#">Q3</a>
                <span class="result wrong">X</span>
              </li>
              <li>
                <a href="#">Q4</a>
                <span class="result correct">/</span>
              </li>
            </ul>
          </div>
      </div>

      <div class="card">
        <span class="rank r2">2<sub>nd</sub></span>
        <span class="name">Abdul</span>
        <div class="dropdown">
            <button class="dropdown-btn">Menu</button>
            <ul class="dropdown-content">
              <li>
                <a href="#">Q1</a>
                <span class="result wrong">X</span>
              </li>
              <li>
                <a href="#">Q2</a>
                <span class="result correct">/</span>
              </li>
              <li>
                <a href="#">Q3</a>
                <span class="result wrong">X</span>
              </li>
              <li>
                <a href="#">Q4</a>
                <span class="result correct">/</span>
              </li>
            </ul>
          </div>
      </div>

      <div class="card">
        <span class="rank r3">3<sub>rd</sub></span>
        <span class="name">Abdul</span>
        <div class="dropdown">
          <button class="dropdown-btn">Menu</button>
          <ul class="dropdown-content">
            <li>
              <a href="#">Q1</a>
              <span class="result wrong">X</span>
            </li>
            <li>
              <a href="#">Q2</a>
              <span class="result correct">/</span>
            </li>
            <li>
              <a href="#">Q3</a>
              <span class="result wrong">X</span>
            </li>
            <li>
              <a href="#">Q4</a>
              <span class="result correct">/</span>
            </li>
          </ul>
        </div>
      </div>
    </main>

    <script src="../js/leaderboard.js"></script>
  </body>
</html>
