<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../Web Fonts/stylesheet.css" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../stylesheet/SAccount.css">


</head>
<body>
    <form>
        <div class="container">
            <span class="details">
                <h2>Ako po si...</h2>
                <p>( Ilagay ang iyong pangalan sa kahon )</p>
            </span>
            <input type="text" id="name" placeholder="Ako po si..." required>
        </div>
        <div class="container">
            <span class="details">
                <h2>Mula sa seksyong...</h2>
                <p>( Ilagay ang iyong seksyon sa kahon )</p>
            </span>
            <input type="text" id="name" placeholder="Mula sa seksyong..." required>
        </div>
        <button type="submit">Tayo na't maglaro!</button>
    </form>


    </body>
</html>